/* You can add global styles to this file, and also import other style files */
/* global styling */

html{
  overflow-x: hidden;
}
*:focus {
  outline: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(170, 165, 165, 0.5);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.combo{
  margin: 10px 10px 10px 300px
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.content-header h1 {
  margin: 0;
  font-size: 40px;
  font-weight: 700;
  word-spacing: 2px;
  color: #d1d1d1;
  float: left;
  margin-left: 22px !important;
  margin-top: 12px !important;
}

.content-header {
  display: flow-root;
}

.first-word {
  color: #ff5f8f;
}

.right-bnr {
  height: 73px !important;
  float: right;
}

.content-header .breadcrumb {
  background: 0 0;
  margin-top: 7px;
  font-size: 12px;
  padding: 7px 5px;
  position: absolute;
  right: 25px;
  border-radius: 2px;
  color: #fff;
}

.breadcrumb li a {
  color: #fff !important;
  font-size: 15px;
  color: #444;
  text-decoration: none;
}

.content-header > .breadcrumb > li + li:before {
  content: ">\00a0";
  padding: 0px 6px;
}

.breadcrumb .inner-txt {
  font-size: 13px;
  line-height: 0.5;
}

.inner-txt img {
  vertical-align: text-top;
}

.dashboard-icon {
  width: 18px;
  height: 18px;
}
/* 
@media (max-width: 991px) {
  .content-header > .breadcrumb {
    position: relative;
    margin-top: 5px;
    top: 0;
    right: 0;
    float: none;
    background: #5f58ca;
    padding-left: 10px;
    margin-right: 15px;
    margin-left: 14px;
    height: 64px;
  }

  .right-bnr {
    display: none;
  }

  .content-header {
    display: grid;
  }
}
@media (max-width: 430px) {
  .content-header h1 {
    font-size: 30px;
    height: 47px;
  }
}

@media screen and (max-width: 1366px) {
  .content-header {
    margin-bottom: 22px !important;
  }
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
