<div class="combo">

  <mat-grid-list cols="2">
    <mat-grid-tile >
      <jqxChart
      #myChart
      (onClick)="chartEvent($event)"
      [width]="600"
      [height]="600"
      [title]="'Users register applications is set to'"
      [description]="''"
      [showLegend]="false"
      [enableAnimations]="true"
      [padding]="padding"
      [titlePadding]="titlePadding"
      [source]="dataAdapter"
      [showBorderLine]="true"
      [seriesGroups]="seriesGroups"
      [colorScheme]="'scheme06'"
    >
    </jqxChart>
    </mat-grid-tile>


    <mat-grid-tile style=" padding: 10px;">
      <figure class="mat-figure" style="display: block;">
        <table class="table table-striped .table-bordered" >
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Location</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of eventData">
              <td>{{ i.name }}</td>
              <td>{{ i.location }}</td>
            </tr>
          </tbody>
        </table>
      </figure>
    
 
  
    </mat-grid-tile>

  </mat-grid-list>


    <!-- </div>
    <div class="col-md-6">
    
      <table class="table table-striped .table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of eventData">
            <td>{{ i.name }}</td>
            <td>{{ i.location }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
</div>
