#id1 {
  display: inline-block;
  float: left;
  width: fit-content;
  height: fit-content;
  margin-left: 0.5em;
}

#div1 {
  display: inline-block;
}
.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: absolute;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: darkgrey;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

#foot {
  padding-left: 230px;
}
#header {
  padding-left: 230px;
}
#sidebar {
  /* padding-right: ; */
}
