<!-- <div id="header">
  <nav class="navbar navbar-light bg-dark">
    <a class="navbar-brand" href="#">
      <img src="./assets/download.png" width="30" height="30" alt="" /><b
        >Dashboard</b
      >
    </a>
  </nav>
</div> -->

<!-- <div>
  <div id="sidebar" class="sidebar">
    <a class="active" href="#home">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
    <a href="#about">About</a>
  </div>

  <div class="container" style="margin-bottom: 10px; padding: 30px 50px">
    <div class="row" style="margin-bottom: 20px">
      <div class="col-md-4">
        <app-pieseries></app-pieseries>
      </div>
      <div class="col-md-4">
        <app-pieseries1></app-pieseries1>
      </div>
      <div class="col-md-4">
        <app-pieseries2></app-pieseries2>
      </div>
    </div>

    <div class="row" style="margin-bottom: 20px">
      <div class="col-md-12"></div>
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-6"></div>
    </div>
  </div>
</div> -->
<!-- <div id="foot">
  <footer>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
  </footer>
</div> -->
<router-outlet></router-outlet>
