<section class="main">
  <!-- header start -->
  <div class="kudosHub-logo position-fixed">
    <img
      src="../../assets/download.png"
      class="logo-bounce"
      routerLink="/"
      style="height: 70px; width: 107px"
    />
  </div>
  <div class="row no-gutters header-top">
    <div class="col-12 media-screen">
      <nav class="header position-fixed">
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#collapsibleNavbar"
        >
          <img src="../../assets/dashboard/menubar.png" style="width: 12%" />
        </button>
        <div class="dropdown btn-dropdown">
          <button type="button" class="btn-toggle">
            <img src="../../assets/employee photo/gourav.jpg" />
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" routerLink="/dashboard/my-profile">
              <img src="../../theme/images/all-users.svg" />&nbsp; Profile</a
            >
            <a class="dropdown-item">
              <img src="../../theme/images/power-off.svg" />&nbsp; Logout</a
            >
          </div>
        </div>
        <div class="usr-name">Hi, Sanjeev</div>
      </nav>
    </div>
  </div>
  <!-- header end -->
  <!-- sidebar start -->
  <div class="sidebar collapse navbar-collapse" id="collapsibleNavbar">
    <div class="dashboard-sidebar-menu position-fixed">
      <!-- <div class="dashboard-txt">
        <p class="menu-child" routerLink="/dashboard">
          <img src="../../assets/dashboard/dashboard.svg" />&nbsp;&nbsp;&nbsp;
          Dashboard
        </p>
      </div> -->
      <!-- <div class="emailValidation-menu" *ngIf="isadmin">
        <p class="main-menu">Admin Pannel</p>
        <p class="menu-child" routerLink="/dashboard/admin/career">
          <img src="../../assets/dashboard/career.svg" />&nbsp;&nbsp;
          &nbsp;Career
        </p>
      </div> -->
      <!-- <div class="emailMarketing-menu">
          <p class="main-menu">Medical Panel</p>
          <p class="menu-child"><img src="../../assets/dashboard/add.svg">&nbsp;&nbsp;&nbsp; add medicine</p>
          <p class="menu-child"><img src="../../assets/dashboard/track.svg">&nbsp;&nbsp;&nbsp; Track Medicine
          </p>
          <p class="menu-child"><img src="../../assets/dashboard/tickets.svg">&nbsp;&nbsp;&nbsp; Show Medicine</p>
          <p class="menu-child"><img src="../../assets/dashboard/courier.svg">&nbsp;&nbsp;&nbsp; Total Order</p>
          <p class="menu-child"><img src="../../assets/dashboard/bill.svg">&nbsp;&nbsp;&nbsp; Total Billing</p>
        </div> -->
      <div class="web-devlopment-menu">
        <p class="main-menu">Chart Pannel</p>
        <p class="menu-child" routerLink="/common/UserRegisterApplication">
          <img src="../../assets/chart-pie-solid.svg" />&nbsp;&nbsp;&nbsp; User
          Register Application
        </p>
        <p class="menu-child" routerLink="/common/NoCustomSubscription">
          <img src="../../assets/chart-pie-solid.svg" />&nbsp;&nbsp;&nbsp;
         No Custom Subscription
        </p>
        <p class="menu-child" routerLink="/common/UserConsentToApp">
          <img src="../../assets/chart-pie-solid.svg" />&nbsp;&nbsp;&nbsp; User
          Consent To App
        </p>
        <!-- <p class="menu-child">
          <img src="../../assets/dashboard/courier.svg" />&nbsp;&nbsp;&nbsp;
          Total Order
        </p>
        <p class="menu-child">
          <img src="../../assets/dashboard/bill.svg" />&nbsp;&nbsp;&nbsp; Total
          Billing
        </p> -->
      </div>

      <!-- <div class="help-menu">
        <p class="main-menu">HELP</p>
        <p class="menu-child">
          <img src="../../assets/dashboard/social.svg" />&nbsp;&nbsp;&nbsp;
          Support
        </p>
        <p class="menu-child">
          <img src="../../assets/dashboard/about.svg" />&nbsp;&nbsp;&nbsp; Docs
        </p>
      </div> -->
    </div>
  </div>
</section>
<router-outlet></router-outlet>
