/* #247cbe */
/* @import 'https://fonts.googleapis.com/css2?family=Rambla:ital,wght@0,400;0,700;1,400&display=swap';

#user-menu{
    background-color:#247cbe ;
    border-radius:10px;
    text-align:center;
    height:100vh;

}    

.dashboard-main{
    height:100vh;
    color:#fff;
    font-size:20px;
    font-family:'Rambla',sans-serif;
    letter-spacing:1px;
    word-spacing:0.5px;
    
}

.user-photo{
    height:100px;
    width:100px;
    border-radius:400px;
    margin-top:20%;
}

p{
    padding-top:20px;
}

.content-list{
    margin-top:50%;
    padding:20px;
}
a,i{
    padding-left:20px;
} */

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css");

.main {
  font-family: "Open Sans", sans-serif !important;
  font-size: 13px !important;
}

.logo-bounce {
  transform: perspective(1px) translateZ(0);
  transition-property: transform;
  transition-duration: 0.3s;
}

.logo-bounce:hover {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.header {
  background: darkgray;
  height: 70px;
  box-shadow: 0px 0px 10px #ccc;
  width: 100%;
  z-index: 999;
  transition: margin-top.3s ease-out;
}

.kudosHub-logo {
  height: 70px;
  display: grid;
  place-items: center;
  cursor: pointer;
  background-color: #fff;
  width: 256px;
  float: left;
  z-index: 1000;
  background-color: darkgray;
  transition: width 0.3s ease-out;
}

.kudosHub-logo img {
  width: 185px;
  outline: none;
  margin-right: 1px;
}

.header-top {
  height: 70px;
  -webkit-transition: height.3s ease-out;
}

.btn-dropdown {
  float: right;
  display: grid;
  place-items: center;
  height: 70px;
  margin-right: 22px;
}

.btn-dropdown img {
  width: 28px;
  height: 36px;
}

.btn-toggle {
  border: none;
  outline: none;
  border-radius: 50%;
  border: 3px solid #ddd;
}

.btn-toggle img {
  border-radius: 50%;
}

.dropdown:hover > .dropdown-menu {
  display: block;
}

.dropdown-menu {
  left: -114px;
  top: 60px;
  border: none;
  box-shadow: 0px 0px 9px #ccc;
}

.dropdown-item {
  font-weight: 500;
  font-size: 13px !important;
  transition: 0.2s ease-out;
  cursor: pointer;
}

.dropdown-item img {
  width: 16px;
  height: 16px;
  font-size: 15px;
  color: #6e73e9;
}

.dropdown-item:hover {
  background-color: unset;
  transform: scale(1.1);
}

.usr-name {
  color: #616161;
  font-weight: 500;
  float: right;
  display: grid;
  height: 70px;
  place-items: center;
  padding-right: 8px;
}

.sidebar {
  width: 256px;
  position: relative;
  height: 80vh;
  float: left;
  transition: auto;
}

.dashboard-sidebar-menu {
  background-color: #fff;
  box-shadow: 0px 0px 10px #ccc;
  height: 100vh;
  padding-bottom: 71px;
  color: #3e4b5b;
  width: 256px;
  float: left;
  overflow: hidden;
}

.dashboard-sidebar-menu:hover {
  overflow-y: auto;
  overflow-x: hidden;
}

.dashboard-txt {
  padding-top: 24px;
  cursor: pointer;
}

.dashboard-txt,
.emailValidation-menu,
.emailMarketing-menu,
.web-devlopment-menu,
.billing-menu,
.help-menu,
.kudoshub-admin {
  padding-left: 35px;
  font-size: 13px;
}

.dashboard-txt img,
.emailValidation-menu img,
.emailMarketing-menu img,
.web-devlopment-menu img,
.billing-menu img,
.help-menu img,
.kudoshub-admin img {
  width: 20px;
  height: 20px;
}

.menu-child {
  transition: 0.2s ease-out;
  border: none;
  outline: none;
}

.menu-child:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.menu-child img {
  vertical-align: sub;
}

.main-menu {
  font-size: 12px;
  padding-top: 7px;
  color: #6e73e9;
  font-weight: bold;
}

@media screen and (max-width: 767px) {
  .header {
    margin-top: 70px;
  }

  .header-top {
    height: 140px;
  }

  .kudosHub-logo {
    width: 100%;
    box-shadow: 0px 0px 15px #ccc;
  }

  .navbar-toggler {
    height: 70px;
    transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    outline: none;
    border: none;
    text-align: start;
  }

  .navbar-toggler:focus {
    outline: none;
    border: none;
  }

  .main {
    overflow-x: hidden;
  }

  .dashboard-sidebar-menu {
    height: 80vh !important;
    padding-bottom: 30px !important;
  }
}

@media screen and (min-width: 768px) {
  .sidebar {
    display: block !important;
  }

  .navbar-toggler {
    display: none;
  }
}

@media (max-width: 767px) {
  .collapse.collapse.show {
    position: fixed;
    z-index: 100;
  }
}
