

<div class="combo">
  <mat-grid-list cols="2"  >
    <mat-grid-tile >
      <jqxChart
      #myChart
      (onClick)="chartEvent($event)"
      [width]="500"
      [height]="500"
      [title]="'No Custom Subscription Owner Roles'"
      [description]="''"
      [showLegend]="false"
      [enableAnimations]="true"
      [padding]="padding"
      [titlePadding]="titlePadding"
      [source]="dataAdapter"
      [showBorderLine]="false"
      [seriesGroups]="seriesGroups"
      [colorScheme]="'scheme08'"
    >
    </jqxChart>


    </mat-grid-tile>
    <mat-grid-tile>
      <figure class="mat-figure" style="display: block;">
        <table class="table table-striped .table-bordered" >
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Location</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let i of eventData">
              <td>{{ i.name }}</td>
              <td>{{ i.location }}</td>
            </tr>
          </tbody>
        </table>
      </figure>
    </mat-grid-tile>

  </mat-grid-list>
</div>


  <!-- <div class="row">
    <div class="col-md-6">

        <jqxChart
          #myChart
          (onClick)="chartEvent($event)"
          [width]="500"
          [height]="500"
          [title]="'no custom subscription owner roles'"
          [description]="''"
          [showLegend]="false"
          [enableAnimations]="true"
          [padding]="padding"
          [titlePadding]="titlePadding"
          [source]="dataAdapter"
          [showBorderLine]="false"
          [seriesGroups]="seriesGroups"
          [colorScheme]="'scheme08'"
        >
        </jqxChart>

    </div>
    <div class="col-md-6">
      <table class="table table-striped .table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Location</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let i of eventData">
            <td>{{ i.name }}</td>
            <td>{{ i.location }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->

